# ===========================
# ENVIRONNEMENT
# ===========================
PROJECT_NAME=YouKnowWhat
ENV=AsYouWant# dev or prod

# ===========================
# VERSIONS D'IMAGES
# ===========================
PYTHON_VERSION=YouKnowWhat
NODE_VERSION=YouKnowWhat
POSTGRES_VERSION=YouKnowWhat
NGX_VERSION=YouKnowWhat

# ===========================
# PORTS
# ===========================
PORT_DB=YouKnowWhat
PORT_BACK=YouKnowWhat
PORT_FRONT=YouKnowWhat
PORT_NGX=YouKnowWhat

# ===========================
# PostgreSQL Database
# ===========================
POSTGRES_DB=YouKnowWhat
POSTGRES_USER=YouKnowWhat
POSTGRES_PASSWORD=YouKnowWhat