# ===========================
# ENVIRONNEMENT
# ===========================
PROJECT_NAME=YouKnowWhat
ENV=AsYouWant

# ===========================
# VERSIONS D'IMAGES (cachées des Dockerfile/Compose)
# ===========================
PYTHON_VERSION=YouKnowWhat
NODE_VERSION=YouKnowWhat
NGINX_VERSION=YouKnowWhat
POSTGRES_VERSION=YouKnowWhat

# ===========================
# PORTS (cachés des Dockerfile/Compose)
# ===========================
PORT_DB=YouKnowWhat
PORT_BACK=YouKnowWhat
PORT_FRONT=YouKnowWhat
PORT_PROXY=YouKnowWhat

# ===========================
# PostgreSQL Database
# ===========================
POSTGRES_DB=YouKnowWhat
POSTGRES_USER=YouKnowWhat
POSTGRES_PASSWORD=YouKnowWhat