.env*
.env
!*.example
backend/.env*
frontend/.env*
secrets/*
node_modules
dist
__pycache__/
*.pyc
.idea
.coverage
.DS_Store
htmlcov/
coverage.zip
/docs/time_manager_dev_ops_non_sensitive_summary.md
/docs/time_manager_devops_notes.md
/docs/todo.md
Spec.txt
/monitoring/README.md