# Django
DJANGO_SETTINGS_MODULE=time_manager.settings
DEBUG=False
SECRET_KEY=__SET_ME__

# DB
POSTGRES_DB=timemanager
POSTGRES_USER=app
POSTGRES_PASSWORD=__SET_ME__
DATABASE_URL=postgres://app:__SET_ME__@db:5432/timemanager

# Hosts
ALLOWED_HOSTS=app.local,localhost