POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DJANGO_SETTINGS_MODULE=core.settings
DATABASE_URL=
SECRET_KEY=
DEBUG=False

DJANGO_SUPERUSER_EMAIL=
DJANGO_SUPERUSER_PASSWORD=
DJANGO_SUPERUSER_FIRST_NAME=
DJANGO_SUPERUSER_LAST_NAME=

# Hosts
ALLOWED_HOSTS=AsYouKnow.settings
